# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\blaze\Documents\GitHub\ICS314\wods\yourchoice\.idea/dataSources/
/dataSources.local.xml
